.wrapper-container-down {
    margin-top: 70px;
    .container-comment {
        .title {
            font-size: 4rem;
            font-weight: 600;
            margin: 0 auto;
            text-align: center;
        }
        .user-comment {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 40px;
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin: 0 auto;
            }
            .comment {
                padding: 0 15%;
                text-align: center;
                font-size: 2rem;
                margin-top: 25px;
            }
            .name {
                padding-top: 25px;
                font-size: 1.7rem;
                font-weight: 700;
            }
            .happy-clinet {
                font-size: 1.6rem;
                padding-top: 5px;
                padding-bottom: 25px;
            }
        }
    }
    .container-category {
        margin-top: 75px;
        padding-top: 80px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        border-top: 1px solid #ccc;
        padding-bottom: 20px;
        justify-content: center;
        img {
            width: 200px;
            height: 100px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 1199px) {
    .wrapper-container-down {
        .container-category {
            img {
                width: 150px;
                height: 90px;
            }
        }
    }
}
@media (max-width: 1023px) {
    .wrapper-container-down {
        .container-category {
            display: grid;
            grid-template-columns: 30% 30% 30%;

            img {
                display: flex;
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: 767px) {
    .wrapper-container-down {
        margin-top: 70px;
        .container-comment {
            .title {
                font-size: 2.5rem;
            }
            .user-comment {
                margin-top: 30px;
                img {
                    width: 60px;
                    height: 60px;
                }
                .comment {
                    text-align: center;
                    font-size: 1.5rem;
                    margin-top: 15px;
                }
            }
        }
        .container-category {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            img {
                display: flex;
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: 479px) {
    .wrapper-container-down {
        .container-category {
            display: grid;
            grid-template-columns: 48% 48%;
            img {
                margin: 0 auto;
                display: flex;
                justify-content: center;
            }
        }
    }
}
@media (max-width: 319px) {
    .wrapper-container-down {
        .container-category {
            img {
                width: 100px;
            }
        }
    }
}
