.wrapper-footer {
    background-color: #222222;
    width: 100vw;
    .footer-up {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        .description {
            color: rgb(255, 255, 255);
            margin-top: 25px;
            font-size: 1.6rem;
            padding: 0 15%;
        }
        .icon-social {
            margin-top: 40px;
            font-size: 1.8rem;
            color: white;
            display: flex;
            justify-content: center;
            background-color: transparent;
            gap: 40px;
            padding-bottom: 55px;
            border-bottom: 1px solid #ccc;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .footer-down {
        margin-top: 75px;
        display: grid;
        grid-template-columns: auto auto auto auto;

        .contact-us,
        .my-account,
        .information,
        .quick-link {
            color: white;
            .title {
                font-size: 2rem;
                padding-bottom: 15px;
            }
            ul {
                list-style: none;
                font-size: 1.5rem;
                li {
                    padding: 10px;
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
        .contact-us {
            ul {
                li {
                    svg {
                        padding-right: 15px;
                    }
                    a {
                        svg {
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }
    .copy-right {
        color: white;
        text-align: center;
        background-color: black;
        padding: 5px 0;
    }
}
@media (max-width: 767px) {
    .wrapper-footer {
        .footer-up {
            padding-top: 70px;
            a {
                img {
                    width: 150px;
                }
            }
            .description {
                font-size: 1.5rem;
            }
        }
        .footer-down {
            display: grid;
            grid-template-columns: auto auto;
            gap: 30px;
        }
    }
}
@media (max-width: 500px) {
    .wrapper-footer {
        .footer-down {
            display: none;
        }
        .footer-information-down-mobile {
            display: block;
            details {
                width: 100%;
                margin: 0 auto;
                background: #ccc;
                margin-bottom: 0.5rem;
                box-shadow: 0 0.1rem 1rem -0.5rem rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                overflow: hidden;
                summary {
                    padding: 1rem;
                    display: block;
                    background: rgb(85, 83, 83);
                    padding-left: 2.2rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: white;
                    position: relative;
                    cursor: pointer;
                    text-align: center;
                    &::before {
                        content: '';
                        border-width: 0.4rem;
                        border-style: solid;
                        border-color: transparent transparent transparent #fff;
                        position: absolute;
                        top: 1.3rem;
                        left: 1rem;
                        transform: rotate(0);
                        transform-origin: 0.2rem 50%;
                        transition: 0.25s transform ease;
                    }
                }
                ul {
                    padding-left: 10px;
                    li {
                        list-style: none;
                        font-size: 1.3rem;
                        padding: 5px;

                        svg {
                            padding-right: 10px;
                        }
                        a {
                            text-decoration: none;
                            color: #111;
                        }
                    }
                }
            }
            details[open] > summary:before {
                transform: rotate(90deg);
            }

            details summary::-webkit-details-marker {
                display: none;
            }

            details > ul {
                padding-bottom: 1rem;
                margin-bottom: 0;
            }
        }
        .copy-right {
            font-size: 1.2rem;
        }
    }
}
