.wrapper-container {
    margin-top: 500px;
    display: flex;

    .container-section {
        padding-top: 3px;
        .section-title {
            display: flex;
            position: relative;
            border-bottom: 1px solid #ccc;
            list-style: none;
            padding-left: 10px;
            margin-bottom: 30px;
            font-weight: 600;
            .line {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                height: 6px;
                border-radius: 15px;
                background-color: #c23564;
                transition: all 0.2s ease;
            }
            .section-tap-item {
                min-width: 80px;
                padding: 16px 20px 11px 20px;
                font-size: 2rem;
                display: flex;
                text-align: center;
                align-items: center;
                color: black;
                background-color: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom: 5px solid transparent;
                opacity: 0.7;
                cursor: pointer;
                transition: all 0.5s ease;
                &:hover {
                    opacity: 1;
                    background-color: rgba(194, 53, 100, 0.05);
                    border-color: rgba(194, 53, 100, 0.1);
                }
            }
            .active {
                opacity: 1;
                color: #dd3032;
            }
        }
    }
    .container-product {
        .list-product {
            margin-top: 5px;

            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 30px;
            .item-product {
                height: 350px;
                width: 275px;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
                align-items: center;

                padding: 0 35px;
                position: relative;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: 200px;
                    align-items: center;
                }
                .name-product {
                    font-size: 1.6rem;
                    padding-top: 30px;
                }
                .price-product {
                    font-weight: 600;
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                }
                .more-info-product {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin-right: 18px;
                    color: #666;
                    display: none;
                    .cart-icon,
                    .eye-icon,
                    .heart-icon,
                    .right-left-icon {
                        padding: 6px 8px;
                        border: 1px solid #ccc;
                        border-radius: 8px 3px 8px 3px;
                        margin-top: 20px;
                        font-size: 1.3rem;
                        &:hover {
                            background-color: red;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
                &:hover {
                    box-shadow: 1px 1px 1px 2px #ccc;
                    .more-info-product {
                        display: block;
                    }
                    img,
                    .name-product {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
@media (max-width: 1199px) {
    .wrapper-container {
        .container-product {
            .list-product {
                gap: 15px;
                padding: 0 10px;
                .item-product {
                    width: 200px;
                    height: 270px;
                    padding: 0 10px;
                    align-items: center;
                }
            }
        }
    }
}
@media (max-width: 1023px) {
    .wrapper-container {
        margin-top: 300px;
        .container-product {
            margin: 0 auto;
            .list-product {
                display: grid;
                grid-template-columns: auto auto auto;
                gap: 15px;
                padding: 0 10px;
                .item-product {
                    height: 350px;
                    width: 90%;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .wrapper-container {
        .container-section {
            .section-title {
                justify-content: center;
                .section-tap-item {
                    font-size: 1.5rem;
                    padding: 6px 10px 1px 10px;
                    text-align: center;
                    align-items: center;
                }
            }
        }
        .container-product {
            margin: 0 auto;
            .list-product {
                display: grid;
                grid-template-columns: auto auto;
                .item-product {
                    height: 300px;
                    width: 90%;
                }
            }
        }
    }
}
@media (max-width: 350px) {
    .wrapper-container {
        .container-section {
            .section-title {
                justify-content: center;
                .section-tap-item {
                    font-size: 1.3rem;
                    padding: 6px 10px 1px 10px;
                    text-align: center;
                    align-items: center;
                }
            }
        }
        .container-product {
            margin: 0 auto;
            .list-product {
                display: grid;
                grid-template-columns: auto;
            }
        }
    }
}
