.nav-mobile {
    .over-lay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
        animation: fadeIn linear 0.3s;
    }
    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        max-width: 90%;
        background-color: rgba(255, 255, 255);
        z-index: 11;
        padding-left: 20px;

        transition: transform linear 0.2s, opacity linear 0.2s;
    }
    .nav__moblie-user {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid #ccc;
        margin: 0 15px;
        img {
            width: 30px;
            height: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
        }
        .nav__moblie-user-name {
            display: flex;
            text-align: center;
            align-items: center;
            padding-left: 20px;
            font-size: 1.8rem;
        }
    }
    .mobile-search {
        display: flex;
        margin: 20px 15px;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
        font-size: 1.3rem;
        input {
            width: 100%;
            padding: 8px 0;
            border-radius: 6px;
            outline: none;
            border: 1px solid #ccc;
            text-align: center;
        }
        svg {
            padding: 10px 16px;
            background-color: #aaa;
            border-radius: 4px;
        }
    }
    .nav-moblie-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-left: 0;

        li {
            font-size: 1.8rem;
            text-align: left;
            padding: 15px 20px;
            cursor: pointer;

            &:hover {
                background-color: #ccc;
                border-radius: 5px;
            }
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
